<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>colin</title>
        <link type="text/css" rel="stylesheet" href="{% static 'colin_dot_com/foundation.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'colin_dot_com/base.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{% static 'colin_dot_com/foundation.min.js' %}"></script>
        <script src="{% static 'colin_dot_com/selectize.min.js' %}"></script>
    </head>
    <body>
        <div class="top-bar">
            <div class="row column">
                <div class="top-bar-title">
                    <strong class="site_title">Colin</strong>
                </div>
                <div class="top-bar-left">
                    <ul class="menu">
                        <li><input type="search" placeholder="search by material, technique, or product..."></li>
                        <li><button type="button" class="button">Search</button></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="/explore">Explore</a></li>
                        <li>|</li>
                        <li><a href="/messages">Messages</a></li>
                        <li>|</li>
                        <li class="has-dropdown">
                            {% if request.user %}
                                <a href="#">
                                    {% if request.user.first_name %}
                                        {{ request.user.first_name }} {{ request.user.last_name|first }}.
                                    {% else %}
                                        {{ request.user.username }}
                                    {% endif %}
                                </a>
                                <ul class="menu vertical">
                                    <li><a href="/profile">Profile</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            {%  endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-12 small-centered columns">
                {% block content %} {% endblock %}
            </div>
        </div>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>